# Python API Server Configuration
HOST=127.0.0.1
PORT=8000

# BioBERT Model configuration
# We default to dmis-lab/biobert-v1.1, a widely used pretrained BioBERT model on Hugging Face
BIOBERT_MODEL_NAME=dmis-lab/biobert-v1.1
